<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YelpCamp</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/styles/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/styles/main.css" media="screen, projection">
  <style>
    .flex{
      display: flex;
      flex-wrap: wrap;
    }
  </style>
</head>

<body>
  <!--Navbar start-->
  <div class="navbar-fixed">
    <nav class="grey lighten-1">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">YelpCamp</a>
        <a href="#" data-target="mobile-bar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Login</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-bar">
      <li><a href="/">Login</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });
    </script>
  </div>
  <!--Navbar end-->
  <!--Container start-->
  <div class="container">
