<% include ../partials/header %>

<div class="row">
  <h1 class="center-align">Add New Comment to <%= campground.name %></h1>
  <div class="col s12 m6 offset-m3">
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="input-field col s12">
          <input type="text" name="comment[text]" placeholder="text" required>
          <label for="comment">Comment</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="comment[author]" placeholder="name" required>
          <label for="author">Author</label>
        </div>
        <div class="input-field col s12">
          <button style="width:100%;" class="btn waves-effect waves-dark" type="submit" name="submit">Submit</button>
        </div>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Back</a>
  </div>
</div>






<% include ../partials/footer %>
