<% include ../partials/header %>
  <header class="card-panel blue-grey lighten-5">
    <h1>Welcome to YelpCamp</h1>
    <p>View our hand-picked campgrounds from all around the world</p>
    <a class="waves-effect waves-dark btn-large" href="/campgrounds/new">Add new Campground</a>
  </header>
  <div class="row">
    <% campgrounds.forEach(function(campground){ %>
    <div class="col s12 m6 l3 flex">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img materialboxed" src="<%= campground.image %>">
        </div>
        <div class="card-content">
          <span class="card-title"><%= campground.name %></span>
          <a href="/campgrounds/<%= campground._id %>">More Info</a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
<% include ../partials/footer %>
