<% include ../partials/header %>

<div class="row">
  <h1 class="center-align">Create a new Campground</h1>
  <div class="col s12 m6 offset-m3">
    <form action="/campgrounds" method="POST">
        <div class="input-field col s12">
          <input type="text" name="name" required>
          <label for="name">Campground-Name</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="image" required>
          <label for="image">Image-URL</label>
        </div>
        <div class="input-field col s12">
          <textarea class="materialize-textarea" type="text" name="description"  required></textarea>
          <label for="description">Description</label>
        </div>
        <div class="input-field col s12">
          <button style="width:100%;" class="btn waves-effect waves-dark" type="submit" name="submit">Submit</button>
        </div>
    </form>
    <a href="/campgrounds">Back</a>
  </div>
</div>






<% include ../partials/footer %>
