<% include ../partials/header %>

<div class="row">
  <div class="col m3">
    <h4 class="flow-text">YelpCamp</h4>
    <ul class="collection">
      <li class="collection-item">Test</li>
      <li class="collection-item">Test</li>
      <li class="collection-item">Test</li>
      <li class="collection-item">Test</li>
    </ul>
  </div>
  <div class="col m9">
    <div class="card">
      <div class="card-image">
        <img class="materialboxed responsive-img" src="<%= campground.image %>">
      </div>
      <div class="card-content">
        <div class="card-title">
          <a href="#">
            <%= campground.name %></a>
          <p class="right">€9.00/night</p>
        </div>
        <p>
          <%- campground.description %>
        </p>
      </div>
    </div>
    <div class="card-panel">
      <div class="right-align">
        <a class="waves-effect waves-dark green btn" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
      </div>
      <hr>
      <% campground.comments.forEach(function(comment){ %>
      <div class="row">
        <div class="col m12">
          <strong><%= comment.author %></strong>
          <span class="right">10 days ago</span>
          <p>
            <%= comment.text %>
          </p>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>
<% include ../partials/footer %>
